body{
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/a0/da/cd/a0dacdba3f2e20274e488c568c775a4e.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}
.Intro-section{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}
.input-form{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    opacity: ;
    transform: translateY(10px);
    transition: 0.5s ease ;
}

