body{
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/a0/da/cd/a0dacdba3f2e20274e488c568c775a4e.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

