body{
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/a0/da/cd/a0dacdba3f2e20274e488c568c775a4e.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}
.Intro-section{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}
.input-form{
    background-color: rgba(255, 255, 255, 0.8);
    margin:  auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-message{
    opacity: 0;
    transform: translateY(0);
    transition: opacity 200ms ease-in-out ;
    display: none;
}
#result-message.show {
    display: block;     
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    transform: translateY(10px);
}
 #clearBtn {
    float:inline-end;
    background-color: #c05c55;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 200px;
   
    

}

a{
    text-decoration: none;
    color:black;
    
}
a:hover{
    text-decoration: underline;
}



